@import "tailwindcss";

@theme {
  --color-primary: #11151c;
  --color-secondary: #71a9f7;
  --color-tertiary: #f72585;
  --color-accent: #e2c044;
}

* {
  scrollbar-gutter: stable;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  25% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  50% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.bubble {
  animation: morph 8s ease-in-out infinite;
}
